Our first task is to create a “people” file containing the following columns: email, code, is_unsub, created_dt, updated_dt. 

Let's begin by getting a sense of the data we're working with. We'll load each csv file as a pandas DataFrame and doing a quick examination.

A few things to keep in mind:

Constituent Email Addresses: 
Boolean columns (including is_primary) in all of these datasets are 1/0 numeric values. 1 means True, 0 means False.

Constituent Subscription Status: 
We only care about subscription statuses where chapter_id is 1.
If an email is not present in this table, it is assumed to still be subscribed where chapter_id is 1.

In [1]:
# First, we need to import pandas
import pandas as pd

# Then, we can set some options determine how much data is displayed in the notebook
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)
pd.set_option('display.colheader_justify', 'left')

In [2]:
# Now we're ready to load our first file, Constinuent Information ('cons.csv') as a DataFrame
df_cons_info = pd.read_csv('data/cons.csv')

In [3]:
# Let's examine the headers and first 3 rows
df_cons_info.head(3)

,cons_id,prefix,firstname,middlename,lastname,suffix,salutation,gender,birth_dt,title,employer,occupation,income,source,subsource,userid,password,is_validated,is_banned,change_password_next_login,consent_type_id,create_dt,create_app,create_user,modified_dt,modified_app,modified_user,status,note
0,1,NaN,NaN,Lee,NaN,MD,NaN,E,NaN,vSkSIzEQJdXnqeTTTXSG,NaN,NaN,2.971606e+10,google,NaN,3663,_kXcXaoK7i,1,0,0,5958,"Fri, 1983-08-26 06:02:03",1484,6162,"Sun, 2015-12-27 09:28:02",4022,6349,1,NaN
1,2,NaN,NaN,NaN,NaN,II,boFqBKgLlSgEZsFrgCZd,E,"Mon, 2004-11-15",NaN,NaN,NaN,6.717468e+02,facebook,pRzBAZSGNScwCyreCEYr,7125,Ll3ZUxnh*9,0,0,1,4236,"Mon, 1979-03-05 21:08:54",4176,5476,"Tue, 1989-06-20 13:28:57",9010,5698,1,NaN
2,3,NaN,NaN,David,King,NaN,NaN,D,"Fri, 1994-04-08",bxGxufoNzpKvjwNIxgRj,iPUtgXtqIBEaxQxaMMsr,NaN,NaN,NaN,UAWXnALxxBXmwbPibFdw,5202,&@sU8IaE+L,1,0,1,1263,"Fri, 2008-08-22 19:20:28",4702,8239,"Fri, 2020-06-05 18:13:57",8837,1175,1,NaN

In [4]:
# Ourcdf_cons_info DataFrame is a little messy! To make it easier to read, let's create a styler object we can use to format the text.
style = df_cons_info.head(3).style
style.set_properties(**{'text-align': 'left'})
style.set_table_styles([{
    'selector': 'th:not(.index_name)',
    'props': 'text-align: left;'
}])

In [5]:
# We also want to find out how large this data set is and check the data types of each column
df_cons_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700000 entries, 0 to 699999
Data columns (total 29 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   cons_id                     700000 non-null  int64
 1   prefix                      350304 non-null  object
 2   firstname                   350244 non-null  object
 3   middlename                  560213 non-null  object
 4   lastname                    349314 non-null  object
 5   suffix                      349541 non-null  object
 6   salutation                  350021 non-null  object
 7   gender                      349891 non-null  object
 8   birth_dt                    349954 non-null  object
 9   title                       350082 non-null  object
 10  employer                    349228 non-null  object
 11  occupation                  350239 non-null  object
 12  income                      350637 non-null  float64
 13  source                      350026 non-null  object
 14  subsource                   350315 non-null  object
 15  userid                      700000 non-null  int64
 16  password                    700000 non-null  object
 17  is_validated                700000 non-null  int64
 18  is_banned                   700000 non-null  int64
 19  change_password_next_login  700000 non-null  int64
 20  consent_type_id             700000 non-null  int64
 21  create_dt                   700000 non-null  object
 22  create_app                  700000 non-null  int64
 23  create_user                 700000 non-null  int64
 24  modified_dt                 700000 non-null  object
 25  modified_app                700000 non-null  int64
 26  modified_user               700000 non-null  int64
 27  status                      700000 non-null  int64
 28  note                        69884 non-null   object
dtypes: float64(1), int64(11), object(17)
memory usage: 154.9+ MB

To review, we need to locate the appropriate data to create a new file containing the following columns: email, code, is_unsub, created_dt, updated_dt.

It looks like 3 columns in our df_cons_info DataFrame - source, create_dt, modified_dt - might map to 3 of the columns we've been asked to create: code, created_dt, updated_dt. (But, since the names aren't an exact match, let's make a note to double check.)

With those 3 columns taken care of, we now just need to locate the appropriate data to create these remaining columns: email, is_unsub.

In [6]:
# Now onto our Constituent Email Addresses file, 'cons_email.csv'
df_cons_email = pd.read_csv('data/cons_email.csv')

In [7]:
# Again, we'll create a styler object to make the data easier to read.
style = df_cons_email.head(3).style
style.set_properties(**{'text-align': 'left'})
style.set_table_styles([{
    'selector': 'th:not(.index_name)',
    'props': 'text-align: left;'
}])

In [8]:
# We'll check the size of this data and the data types of each column
df_cons_email.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400000 entries, 0 to 1399999
Data columns (total 16 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   cons_email_id         1400000 non-null  int64
 1   cons_id               1400000 non-null  int64
 2   cons_email_type_id    1400000 non-null  int64
 3   is_primary            1400000 non-null  int64
 4   email                 1400000 non-null  object
 5   canonical_local_part  700029 non-null   object
 6   domain                1400000 non-null  object
 7   double_validation     699825 non-null   object
 8   create_dt             1400000 non-null  object
 9   create_app            1400000 non-null  int64
 10  create_user           1400000 non-null  int64
 11  modified_dt           1400000 non-null  object
 12  modified_app          1400000 non-null  int64
 13  modified_user         1400000 non-null  int64
 14  status                1400000 non-null  int64
 15  note                  139535 non-null   object
dtypes: int64(9), object(7)
memory usage: 170.9+ MB

Note - we can see that the column "cons_id" appears in both df_cons_info and df_cons_email, so we can match on this column later when we are ready to merge.

To recall, we're looking for the appropriate data to create the following columns: email, is_unsub.

It looks like the "email" column in our df_cons_email DataFrame maps to the "email" column we've been asked to create. 

So, all that's left to find now is the data to create this column: is_unsub

In [9]:
# Finally, we'll repeat the process with our third file, Constituent Subscription Status, 'cons_email_chapter_subscription.csv'
df_cons_email_chap_subs = pd.read_csv('data/cons_email_chapter_subscription.csv')

# Creating the styler object to make the data easier to read.
style = df_cons_email_chap_subs.head(3).style
style.set_properties(**{'text-align': 'left'})
style.set_table_styles([{
    'selector': 'th:not(.index_name)',
    'props': 'text-align: left;'
}])

In [10]:
# Checking size of the data set and data types for each column
df_cons_email_chap_subs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350000 entries, 0 to 349999
Data columns (total 6 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   cons_email_chapter_subscription_id  350000 non-null  int64
 1   cons_email_id                       350000 non-null  int64
 2   chapter_id                          350000 non-null  int64
 3   isunsub                             350000 non-null  int64
 4   unsub_dt                            350000 non-null  object
 5   modified_dt                         350000 non-null  object
dtypes: int64(4), object(2)
memory usage: 16.0+ MB

In [11]:
# Creating the styler object to make the data easier to read.
style = df_cons_email_chap_subs.tail(3).style
style.set_properties(**{'text-align': 'left'})
style.set_table_styles([{
    'selector': 'th:not(.index_name)',
    'props': 'text-align: left;'
}])

To recall, we need to find the appropriate data to create one last column in our new file: is_unsub

It looks like the "isunsub" column in our df_cons_email_chap_subs DataFrame maps to the "is_unsub" columns we've ben asked to create. So, all data has been located!

Now let's merge our first two dataframes (df_cons_info and df_cons_email) on the matching column - cons_id. 

Note the number of entries in each DataFrame:
df_cons_info: 700,000 
df_cons_email: 1,400,000.